body {
    text-align: center;
    background-color: lightcyan;
}

li, ul {
    list-style: none;
    text-decoration: none;
    
}

ul {
    display: flex;
}

li {
    border: solid 1px;
    background-color: bisque;
    margin: 2px;
    border-radius: 5%;
    flex: auto;
}

a {
    text-decoration: none;
    color: blueviolet;
    font-size: 200%;
}

